<div class = "nav-div">
<nav>
	<ul>
		<li><a href = "#"><img src = "home.jpg" id = "home-icon" name = "home-logo" height = "40px" weight = "40px"></a></li>
		<li><a class = "nav" href = "/about">About</a></li>
		<li><a class = "nav" href = "#">More Info</a> </li>
		<li><a class = "nav" href = "/menu">Menu</a> </li>
		
	</ul>
</nav>
</div>

<div id = "budget-sushi">
	<div id ="budget-sushi-sub">
	<p class = "sushi-text">Budget Sushi at your Doorstep.</p>
	</div>
</div>

<div>
	<div id="chefs">
		<p class = "chef"> Meet our Chefs and respect their Authority!</p>
		<ul class = 'chef'>
			<li><img class = "chef" src = "chef1.jpg"></li>
			<li><img class = "chef" src = "chef2.jpg"></li>
			<li><img class = "chef" src = "chef3.jpg"></li>
		</ul>
	</div>
</div>

<div id = "contact-us">
	<form action = "/email" method="POST">
		<label for="name"> Name: </label>

		<input type = "text" name = "name" id = "name"><br><br>
		
		<label for="email"> Email:</label> 
		
		<input type = "email" name = "email" id = "email"><br><br>
		
		<label for="phone"> Phone:</label>
		
		<input type = "tel" name = "phone" id = "phone"><br><br>
		
		<label for ="comment">Comment:</label>
		
		<textarea name="comment" id = "comment" cols="25" rows="5">
		</textarea><br>
		
		<input type="submit" id = "submit">
	</form>
</div>
<footer class="footer">
    <a href="#" class="social"> <img src="fb-art.jpg" width = "20px" height = "20px"> </a>
    <a href="#" class="social"> <img src="Twitter_logo_blue.png" width = "20px" height = "20px"> </a>
</footer>