<!DOCTYPE html>
<html>
<head>
	<link rel = "stylesheet" type = "text/css" href = "/index.css">
	<script type = "text/javascript" src = "index.js">
	<meta charset = "UTF-8">
</head>

<body>
<%= yield %>


</body>
</html>