
<img src="cover_one.jpg">

<h1> Menu </h1>

<img src="cover_two.jpg">

<h2>TOOTSY MAKI ROLL </h2>

<p>Crab mix, shrimp and cucumber rolled and topped with crunchy tempura bits; drizzled with a sweet eel sauce</p>

<h2>VIVA LAS VEGAS ROLL </h2>

<p>Crab and cream cheese rolled in rice and seaweed, lightly tempura battered and topped with spicy tuna, crab mix and sliced lotus root; finished with a sweet eel sauce and spinach tempura bits. </p>

<h2>CHILI PONZU YELLOWTAIL ROLL </h2>

<p>Spicy yellowtail mix rolled with cucumber, avocado, jalapeno and cilantro; topped with crispy garlic and served with a  chili ponzu sauce</p>

<h2>CRUNCHY SHRIMP TEMPURA ROLL</h2>

<p>Shrimp tempura, spicy crab mix and cucumber rolled and topped with red beet tempura bits; served with sweet eel sauce </p>

<h2>CRUNCHY CALAMARI ROLL</h2>

<p>Calamari tempura, crab mix and cream cheese rolled and topped with spinach tempura bits; served with sweet eel sauce</p>

<h2>KING CRAB ROLL</h2>

<p>King crab, cucumber and avocado rolled and topped with king crab; served with an Asian pesto sauce</p>

<h2>SPICY LOBSTER ROLL</h2>

<p>Lobster, cilantro, jalapeno, romaine hearts, avocado and cucumber, rolled in rice and soy paper</p>

<h2>LOBSTER SHRIMP ROLL </h2>

<p>Lobster, cucumber and avocado rolled and topped with shrimp; served with an Asian pesto sauce</p>

<h2>CRAZY MONKEY ROLL</h2>

<p>Smoked salmon, mango and cream cheese rolled and topped with avocado, red beet tempura bits and cashews; drizzled with mango and sweet eel sauces</p>

<h2>SCALLOP DYNAMITE ROLL</h2>

<p>Crab & cream cheese rolled, lightly tempura battered and topped with scallop dynamite; finished with sweet eel sauce and red beet and spinach tempura bits </p>

<h2>SHRIMP CALAMARI TEMPURA ROLL</h2>

<p>Calamari and shrimp tempura with cucumber, avocado and cream cheese, rolled and topped with crunchy tempura bits; served with sweet eel sauce</p>

<h2>VEGETABLE TEMPURA ROLL</h2>

<p>Lightly tempura fried asparagus and sweet potato, rolled and topped with colorful crunchy tempura bits, sweet eel sauce and tempura fried Japanese eggplant </p>

<h2>CHILI SHRIMP ROLL</h2>

<p>Crab and cream cheese rolled and lightly tempura battered, topped with spicy crab mix, crispy shrimp, cilantro and jalapeno; served with spicy mayo and Sriracha</p>

<h2>LOBSTER SALMON ROLL</h2>

<p>Lobster, mango, avocado and cucumber rolled and topped with lobster, salmon and lobster cream sauce </p>

<h2>DILL SALMON ROLL</h2>

<p>Cucumber, avocado and arugula rolled and topped with lightly torched salmon, lemon zest, dill and truffle salt</p>

<h2>PINEAPPLE SHRIMP ROLL</h2>

<p>Shrimp tempura, cucumber and avocado rolled and topped with grilled pineapple, sweet eel sauce and sauteed nuts</p>


